@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-2sm: 0 0 20px rgba(0, 0, 0, 0.25);
  --breakpoint-3xl: 120rem;

}

.m-h-120 {
  min-height: 120vh;
}

.m-h-110 {
  min-height: 110vh;
}

:root {}